@font-face { 
  font-family: 'ModernPics'; 
  src: url('/styles/fonts/modernpics-webfont.eot'); 
  src: url('/styles/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'), 
  url('/styles/fonts/modernpics-webfont.woff') format('woff'), 
  url('/styles/fonts/modernpics-webfont.ttf') format('truetype'), 
  url('/styles/fonts/modernpics-webfont.svg#webfont') format('svg'); 
} 
@font-face { 
  font-family: 'WinterThur'; 
  src: url('/styles/fonts/winterthurcondensed-webfont.eot'); 
  src: url('/styles/fonts/winterthurcondensed-webfont.eot?#iefix') format('embedded-opentype'), 
  url('/styles/fonts/winterthurcondensed-webfont.woff') format('woff'), 
  url('/styles/fonts/winterthurcondensed-webfont.ttf') format('truetype'), 
  url('/styles/fonts/winterthurcondensed-webfont.svg#webfont') format('svg'); 
} 
@font-face { 
  font-family: 'Satisfaction'; 
  src: url('/styles/fonts/satisfaction-webfont.eot'); 
  src: url('/styles/fonts/satisfaction-webfont.eot?#iefix') format('embedded-opentype'), 
  url('/styles/fonts/satisfaction-webfont.woff') format('woff'), 
  url('/styles/fonts/satisfaction-webfont.ttf') format('truetype'), 
  url('/styles/fonts/satisfaction-webfont.svg#webfont') format('svg'); 
} 
